@import "../variables";

.auth-form * {
  display: block;
  width: 100%;
}

.auth-form {
  width: 400px;
  margin: 0 auto;
  padding: 0em;
  margin-top: 2em;


  main {
    box-shadow: 5px 5px 5px lighten($black, 70%);
    border: 1px solid $black;
    border-radius: 5px;
    box-sizing: border-box;
    display: inline-block;

    ul {
      margin-top: 1em;
      li {
        color: red;
        font-weight: bold;
      }
    }

    label:nth-child(1), label:nth-child(2) {
      margin-top: 1em;
      border-bottom: 1px solid lighten($black, 30%);
    }

    padding: 0.5em;

    h1, h4, a {
      text-align: center;
      font-size: 1.5em;//24px;
    }
    form {
      display: flex;
      justify-content: center;
      flex-direction: column;
      align-items: center;
    }

    a, input, h4 {
      width: 100%;
      font-size: 1.25em;//px;
      margin-top: 0.5em;
      border: none;
    }

    button, input[type="submit"], a {
      background: white;
      border: 1px solid $black;
      border-radius: 5px;
      padding: 0.5em;
      transition: 0.5s;
      color: $seagreen;
    }

    a {
      width: auto;
    }

    input[type="submit"]:hover, a:hover {
      cursor: pointer;
      background: lighten($black, 95%);
      transition: 0.5s;
    }

    input[type='text']:focus, input[type='password']:focus  {
      outline: none;
      border-bottom: 1px solid $black;
    }

    button {
      font-family: inherit;
      font-size: 1.25em;//px;
      margin-top: 1em;
      margin-bottom: 0.5em;
      color: $seagreen;
    }

    button:hover {
      cursor: pointer;
      background: lighten($black, 95%);
    }

  }
}
@media all and (max-width: 500px){
  .auth-form {
    width: 100%;
    padding: 0;
    margin: 0;
    background: white;
    position: absolute;
    top: 6.5em;
    left: 0;
    right: 0;

    main {
      padding-top: 0;
      border: none;
      box-shadow: none;

      .auth-errors{
        margin: 0;
      }
    }
    label:first-child input {
      padding-top: 0;
      margin-top: 0;
    }

    #auth-form-header {
      display: none;
    }
  }
}
