@import "../variables.scss";


header {
  padding: 1em 0em 2em 0em;
  display: flex;
  justify-content: space-between;
  align-items: center;

  box-sizing: border-box;

  .home-link, .home-link:visited, .home-link:active {
    font-family: 'Pacifico', cursive;
    color: $black;
    font-size: 2.25em;//36px;
    border: none;
    outline: none;
  }
  border-bottom: 1px solid $black;

  span { color: $seagreen }

  button {
    background: white;
    border: none;
    font-family: inherit;
    font-size: inherit;
  }
  #authentication {
    display: flex;

    a:nth-child(1){
      margin-right: 1em;
    }

    p { transition: 0.5s; }
    p:hover {
      color: $seagreen;
      text-decoration: underline;
      transition: 0.5s;
      cursor: pointer;
    }
    img:hover {
      cursor: pointer;
    }
  }

  .nogreen {
    color: $black !important;
    margin: 0 !important;
  }
}
