@import "../variables";

.likes-widget-container {
  width: 100%;
  display: flex;
  justify-content: center;
  padding-top: 1.5em;
}
.likes-widget {
  border: 1px solid lighten($seagreen, 15%);
  color: $seagreen;
  background: white;
  display: inline-block;
  padding: 0.5em 0.5em 0.5em 1em;
  margin: 0;
  border-radius: 10em;
  font-size: 1.5em;

  i {
    color: $black;
  }
  transition: 0.5s;
}

.likes-widget:hover {
  background: lighten($seagreen, 60%);
  color: $black;
  transition: 0.5s;
  cursor: pointer;
}

/*
https://stackoverflow.com/questions/826782/how-to-disable-text-selection-highlighting-using-css
*/
.noselect {
  -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none; /* Safari */
     -khtml-user-select: none; /* Konqueror HTML */
       -moz-user-select: none; /* Firefox */
        -ms-user-select: none; /* Internet Explorer/Edge */
            user-select: none; /* Non-prefixed version, currently
                                  supported by Chrome and Opera */
}
