@import '../variables';

.story-form {
  #title {
    display: block;
    outline: none;
    font-family: inherit;
    border: none;
    outline: none;
    border-bottom: 1px dashed $black;
    width: 100%;
    padding: 0.5em 0em;
    margin-bottom: 1em;
    font-size: 2em;
  }

  p {
    display: flex;
    justify-content: space-between;
    //font-style: italic;
    // font-size: 2em;//16px;
    align-items: center;
  }

  p p {
    margin-left: 2em;
  }

  p input {
    background: none;
    outline: none;
    border: none;
    margin: 1em 0em;
    color: $seagreen;
    font-size: 1.5em;//24px;
    font-family: inherit;
    transition: 0.5s;
    border: 1px solid darken($seagreen, 20%);
    border-radius: 1em;
    padding: 0.25em 1em;
  }

  p input:hover {
    cursor: pointer;
    background: lighten($black, 95%);
    transition: 0.5s;
  }
}

.ql-editor {
  font-size: 2em;
  min-height: 30vh;
}
