@import "../variables";

.story-index-item {
  width: 100%;
  color: $black;
  display: flex;
  float: left;

  box-shadow: 2px 2px 2px lighten($black, 95%);

  img {
    height: 100%;
    max-width: 40%;
    object-fit: none;
  }

  margin: 1em 0em 0em 0em;
  align-items: center;

  height: 200px;

   border: 1px solid lighten($black, 95%);
  box-sizing: border-box;

  .story-show-detail {
    float: none;
    display: flex;
    justify-content: center;

    a.author-detail-link {
      outline: none;
      border: none;

    }
    a.author-detail-link:hover {
      background: white;
      text-decoration: underline;
    }

    img {
      width: 40px;
      height: 40px;
      padding-left: 1.5em;
    }
    div {
      display: block;

      div {
        display: flex;
      }
    }
  }

  link {
    color: $black;
  }
}
.story-index-item-details {
  width: 100%;
  text-align: center;
}
.story-index-item-details > p {
  margin: 0em 1em;
  font-size: 1.5em;
}

.social-counts {
  display: flex;
  justify-content: space-around;
  align-content: center;
  padding: 1em;

  i {
    padding-right: 0.5em;
  }
}

.noimg {
  width: 50%;
  // height: 100px;
  // margin-top: 0;
  margin-bottom: 0;
  display: flex;
  align-content: center;

  .social-counts {
    justify-content: center;
    padding-bottom: 0em;

    div:first-child {
      padding-right: 1.5em;
    }
    div:nth-child(2) {
      padding-left: 1.5em;
    }
  }
}


@media all and (min-width: 1080px) {
  .noimg {
    width: 100%;
  }
  .story-index-item:not(.noimg) {
    width: calc(50% - 0.5em);
  }
  .story-index a:nth-child(even) .story-index-item:not(.noimg) {//}:nth-child(even) {
    margin-left: 0.5em;
  }
  .story-index a:nth-child(odd) .story-index-item:not(.noimg) {//}:nth-child(even) {
    margin-right: 0.5em;
  }
}
@media all and (max-width: 750px){
  .noimg {
    width: 100%;
    margin-top: 1em;
  }
  .story-index-item {
    display: block;
    height: 100%;

    img {
      max-width: 100%;
      max-height: 50%;
    }
  }
}

@media all and (min-width: 750px) and (max-width: 1080px) {

  .story-index a .noimg {//}:nth-child(even) {
    width: calc(50% - 0.5em);
  }
  .story-index a:nth-child(even) .noimg {//}:nth-child(even) {
    margin-right: 0.5em;
  }
  .story-index a:nth-child(odd) .noimg {//}:nth-child(even) {
    margin-left: 0.5em;
  }

}

@media all and (min-width: 750px){
  // .story-index .noimg.odd:first-child {
  // //.story-index .noimg.odd {
  //   background: red;
  //   margin-top: 1em;
  //   border-bottom: none;
  // }
}
