@import '../variables';

.story-show {
  font-size: 1.25em;
  line-height: 1.5em;

  .story-title {
    font-size: 2.5em;
    font-weight: 700;
    padding: 2em 1em 1em 1em;
    line-height: 1.25em;
  }

  .story-body {
    img {
      margin: 2em 0em;
    }

    h1, h2, h3 {
      line-height: 1.25em;
    }

    h1 {
      font-size: 2.5em;
      font-weight: 700;
      margin-bottom: 0.35em;
      padding-top: 0.7em;
      padding-left: 1em;
    }

    h2 {
      font-size: 2em;
      font-weight: 600;
      margin-bottom: 0.25em;
      padding-top: 0.5em;
      padding-left: 0.75em;
    }

    h3 {
      font-size: 1.5em;
      font-weight: 500;
      margin-bottom: 0.15em;
      padding-top: 0.3em;
      padding-left: 0.5em;
    }

    strong {
      font-weight: bold;
    }

    em {
      font-style: italic;
    }

    li {
      margin-left: 2em;
    }

    ol, ul {
      margin-top: 1em;
    }
    ul {
      list-style: circle;
    }
    ol {
      list-style: decimal;
    }
  }
}

.story-show-author-buttons, .story-show-detail {
  margin-top: 1em;
  display: flex;
  justify-content: flex-end;

  div {
    display: flex;
    justify-content: space-between;
  }

  button, a {
    font-family: inherit;
    color: $seagreen;
    background: none;
    border: 1px solid lighten($black, 75%);
    padding: 0.3em 1em 0.3em 1em;
    border-radius: 1em;
    transition: 0.5s;
  }

  i {
    color: $black;
    padding-right: 0.5em;
  }

  button:hover, a:hover {
    cursor: pointer;
    background: lighten($black, 95%);
    transition: 0.5s;
    border: 1px solid $seagreen;

    i {
      color: darken($seagreen, 50%);
    }
  }

  button:nth-child(1), a:nth-child(1) {
    margin-right: 2em;
  }
}

.story-show-detail {
  display: flex;
  float: left;

  font-size: 0.75em;

  div {
    margin-left: 0.5em;
    display: block;

    div:first-child {
      margin-right: 2em;
      p {
        font-weight: bold;
      }
    }
    div {
      display: flex;
      align-items: center;
    }

    img {
      width: 40px;
      height: 40px;
    }
  }

  button, a {
    margin-left: 1em;
    padding: 0.1em 0.5em;
    font-weight: bold;
  }
  button:hover, a:hover {
  }
}

button {
  outline: none;
}

@media all and (max-width: 500px){
  .story-show {
    .story-title {
      padding: 0;
    }
    .story-show-detail {
      width: 100%;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
    }
  }
}
