@import "variables.scss";

@media all and (min-width: 1300px){
  body {
    width: 60%;
  }
}

@media all and (min-width: 750px) and (max-width: 1300px){
  body {
    width: 80%;
  }
}

@media all and (max-width: 750px){
  body {
    width: 95%;
    font-size: 20px;
  }
}

body {
  margin: 0 auto;
  font-family: $muli;
}

a {
  text-decoration: none;
  font-size: inherit;
}
a:not(.home-link), a:not(.home-link):visited {
  font-family: $muli;
  color: $seagreen;
}

.user-icon {
  width: 40px;
  height: 40px;
}
em {
  font-style: italic;
}
